*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}


@media (min-width:1920px){
    html{
        font-size: 25px;
    }
}

@media (min-width:1024px) and (orientation:portrait){
    html{
        font-size: 25px;
    }
}

